/*Created by: Grace S
*Created on: Apr 2022
*This CSS file defines the style for index.html
*ICS2O-Unit3-04-HTML-FarenheitCelsius
*/

body {
	background-color: rgb(239, 209, 250);
  text-align: center;
}


#output {
  font-weight: bold;
  background-color: #F3DDFB;
}

h1 {
	background-color: #E0A3F4;
  color: rgb(183, 244, 163);
  padding: 30px;
}
